AgriStore/force-app/main/default/flows/AgriStore_Equipment_Registration_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Screen flow for equipment owners to register new equipment</description>
    <label>AgriStore Equipment Registration Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Equipment_Record</name>
        <label>Create Equipment Record</label>
        <locationX>176</locationX>
        <locationY>578</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Equipment_Name__c</field>
            <value>
                <elementReference>Equipment_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Type__c</field>
            <value>
                <elementReference>Equipment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rental_Rate__c</field>
            <value>
                <elementReference>Rental_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Availability__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Equipment__c</object>
    </recordCreates>
    <screens>
        <name>Equipment_Registration_Screen</name>
        <label>Equipment Registration</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Equipment_Record</targetReference>
        </connector>
        <fields>
            <name>Equipment_Name</name>
            <dataType>String</dataType>
            <fieldText>Equipment Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Equipment_Type</name>
            <choiceReferences>Tractor</choiceReferences>
            <choiceReferences>Harvester</choiceReferences>
            <choiceReferences>Irrigation</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Equipment Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rental_Rate</name>
            <dataType>Currency</dataType>
            <fieldText>Daily Rental Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style="text-align: center;"&gt;&lt;span style="color: rgb(68, 133, 0); font-size: 18px;"&gt;&lt;strong&gt;Equipment Registered Successfully!&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style="color: rgb(68, 68, 68);"&gt;Your equipment has been added to the AgriStore catalog and is now available for booking by farmers.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Equipment_Registration_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Equipment_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Equipment_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Rental_Rate</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>