AgriStore/force-app/main/default/flows/Booking_Task_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Auto-create follow-up tasks when bookings are confirmed or cancelled</description>
    <label>Booking Task Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Booking_Status</targetReference>
        </connector>
        <object>Booking__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <decisions>
        <description>Check if booking status is Confirmed or Cancelled</description>
        <name>Check_Booking_Status</name>
        <label>Check Booking Status</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>Booking_Confirmed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Confirmation_Task</targetReference>
            </connector>
            <label>Booking Confirmed</label>
        </rules>
        <rules>
            <name>Booking_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cancellation_Task</targetReference>
            </connector>
            <label>Booking Cancelled</label>
        </rules>
    </decisions>
    <recordCreates>
        <description>Create follow-up task for confirmed booking</description>
        <name>Create_Confirmation_Task</name>
        <label>Create Confirmation Task</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up on confirmed booking: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Booking {!$Record.Name} has been confirmed. Please follow up with farmer {!$Record.Farmer__r.Farmer_Name__c} for equipment delivery coordination. Equipment: {!$Record.Equipment__r.Equipment_Name__c}, Start Date: {!$Record.Start_Date__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create follow-up task for cancelled booking</description>
        <name>Create_Cancellation_Task</name>
        <label>Create Cancellation Task</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Handle cancelled booking: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Booking {!$Record.Name} has been cancelled. Please process refund if applicable and update equipment availability. Farmer: {!$Record.Farmer__r.Farmer_Name__c}, Equipment: {!$Record.Equipment__r.Equipment_Name__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <status>Active</status>
</Flow>