AgriStore/force-app/main/default/flows/Payment_Failure_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Send notifications when payment fails</description>
    <label>Payment Failure Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Payment_Failed</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <decisions>
        <description>Check if payment status is Failed</description>
        <name>Check_Payment_Failed</name>
        <label>Check Payment Failed</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Payment Success</defaultConnectorLabel>
        <rules>
            <name>Payment_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Payment_Failure_Notification</targetReference>
            </connector>
            <label>Payment Failed</label>
        </rules>
    </decisions>
    <actionCalls>
        <description>Send notification to finance team about payment failure</description>
        <name>Send_Payment_Failure_Notification</name>
        <label>Send Payment Failure Notification</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>Payment_Failure</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Payment {!$Record.Name} for amount {!$Record.Amount__c} has failed. Booking: {!$Record.Booking__r.Name}. Please investigate immediately.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Payment Failure Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <status>Active</status>
</Flow>