AgriStore/force-app/main/default/flows/Payment_Failure_Task_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Auto-create tasks for Finance team when payment fails</description>
    <label>Payment Failure Task Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Payment_Status</targetReference>
        </connector>
        <object>Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <decisions>
        <description>Check if payment status is Failed</description>
        <name>Check_Payment_Status</name>
        <label>Check Payment Status</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Payment Success</defaultConnectorLabel>
        <rules>
            <name>Payment_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Finance_Task</targetReference>
            </connector>
            <label>Payment Failed</label>
        </rules>
    </decisions>
    <recordCreates>
        <description>Create task for Finance team to handle failed payment</description>
        <name>Create_Finance_Task</name>
        <label>Create Finance Task</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Payment Failed - Finance Action Required: {!$Record.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Payment {!$Record.Name} for amount {!$Record.Amount__c} has failed. Booking: {!$Record.Booking__r.Name}, Payment Method: {!$Record.Payment_Method__c}. Please investigate and follow up with customer for alternative payment.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <status>Active</status>
</Flow>